<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--  ↓ загружено в "Семью"!  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin Page</title>
</head>
<body>
<div class="nav m-1 bg-secondary justify-content-end">
    <a class="m-1 text-light" href="/logout">Log out</a>
</div>
<div class="container">
    <div class="row">
        <div class="col m-1">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#admin-tab">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#user-tab">User</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="admin-tab" class="tab-pane container active m-1">
                <!--            <div class="row">-->
                <ul class="nav nav-tabs m-1">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#users-table">All Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#add-new-user">Add New User</a>
                    </li>
                </ul>
                <!--            </div>-->
                <div class="tab-content">
                    <div id="users-table" class="tab-pane container active table-responsive">
                        <table class="table table-hover text-center">
                            <thead class="table-dark">
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Salary</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role(s)</th>
                                <th scope="col">Enabled</th>
                                <th scope="col">Operations</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user: ${users}">
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.department}"></td>
                                <td th:text="${user.salary}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.email}"></td>
                                <td>
                                    <span th:each="role, iter : ${user.authorities}"
                                          th:text="${role.authority == 'USER' ? 'U' : (role.authority == 'ADMIN' ? 'A' : '')} + ${iter.last ? '' : ' '}"></span>
                                </td>
                                <td th:text="${user.isEnabled() ? '+' : '-'}"></td>

                                <td class="btn-group btn-group-sm">
                                    <a class="btn btn-outline-primary" data-toggle="modal" th:data-target="${'#updateModal' + user.username}">Update</a>
                                    <div class="modal" th:id="${'updateModal' + user.username}">
                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h4 class="modal-title" th:text="${'Edit ' + user.name + ' ' + user.lastName + ' (' + user.username + ')'}"></h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                                <div class="modal-body">
                                                    <p class="text-left" th:text="'For the sake of privacy, you are only allowed to change the user\'s department ' +
                                                        'and salary. If you think ' + ${user.name} + '\'s personal info needs to be altered, please request them to do so'"></p>

                                                    <form th:action="@{/save-user}" th:object="${user}" method="post">
                                                        <input type="hidden" name="id" th:value="${user.id}">

                                                        <input type="hidden" name="username" th:value="${user.username}">

                                                        <input type="hidden" name="password" th:value="${user.password}">

                                                        <input type="hidden" name="name" th:value="${user.name}">

                                                        <input type="hidden" name="lastName" th:value="${user.lastName}">

                                                        <fieldset>
                                                            <label for="departments">Department: </label>
                                                            <select id="departments" name="department" th:value="${user.department}">
                                                                <option th:value="accounting">Accounting</option>
                                                                <option th:value="sales">Sales</option>
                                                                <option th:value="'information technology'">IT</option>
                                                                <option th:value="'human resources'">HR</option>
                                                            </select>
                                                        </fieldset>

                                                        <fieldset>
                                                            <label for="salary">Salary: </label>
                                                            <input id="salary" name="salary" th:value="${user.salary}"/>
                                                        </fieldset>

                                                        <input type="hidden" name="age" th:value="${user.age}">

                                                        <input type="hidden" name="email" th:value="${user.email}">

                                                        <input type="hidden" name="enabledByte" th:value="${user.enabledByte}">

                                                        <input type="hidden" th:name="authorities"
                                                               th:value="${#strings.toString(user.authorities)}"/>

                                                        <input class="main-button" type="submit" value="Submit">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <a th:href="${user.isEnabled() ? '/admin/disable-user?username=' + user.username : '/admin/enable-user?username=' + user.username}"
                                       th:class="${user.isEnabled() ? 'btn btn-outline-warning' : 'btn btn-outline-success'}"
                                       th:text="${user.isEnabled() ? 'Disable' : 'Enable'}"></a>

                                    <a class="btn btn-outline-danger" data-toggle="modal" th:data-target="${'#deleteModal' + user.username}">Delete</a>
                                    <div class="modal" th:id="${'deleteModal' + user.username}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h4 class="modal-title"
                                                        th:text="${'Are you sure you want to delete ' + user.name + ' ' + user.lastName + ' (' + user.username + ')?'}"></h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                                <div class="modal-body">
                                                    This action may not be easily reversed
                                                </div>

                                                <div class="modal-footer">
                                                    <a class="btn btn-danger"
                                                       th:href="@{/admin/delete-user(username=${user.username})}">I am
                                                        sure</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="add-new-user" class="tab-pane container">
                        <h2>Fill in the forms</h2>
                        <form class="forms" th:action="@{/save-user(passwordChange=true)}" th:object="${newUser}"
                              method="post">
                            <input type="hidden" th:field="*{id}">

                            <fieldset>
                                <label for="nu-username">Username: </label>
                                <input id="nu-username" th:field="*{username}" type="text" minlength="2"
                                       maxlength="15" required/>
                            </fieldset>

                            <fieldset>
                                <label for="nu-password">Password: </label>
                                <input id="nu-password" th:field="*{password}" type="text" minlength="5" required/>
                            </fieldset>

                            <fieldset>
                                <label for="nu-name">Name: </label>
                                <input id="nu-name" th:field="*{name}" type="text" minlength="2" maxlength="15" required/>
                            </fieldset>

                            <fieldset>
                                <label for="nu-last-name">Last name: </label>
                                <input id="nu-last-name" th:field="*{lastName}" type="text" minlength="2"
                                       maxlength="25" required/>
                            </fieldset>

                            <fieldset>
                                <label for="nu-departments">Department: </label>
                                <select id="nu-departments" th:field="*{department}" required>
                                    <option value="accounting">Accounting</option>
                                    <option value="sales">Sales</option>
                                    <option value="information technology">IT</option>
                                    <option value="human resources">HR</option>
                                    <option value="board of directors">Board</option>
                                </select>
                            </fieldset>

                            <fieldset>
                                <label for="nu-salary">Salary: </label>
                                <input id="nu-salary" th:field="*{salary}" type="number" min="100000" required/>
                            </fieldset>

                            <fieldset>
                                <label for="nu-age">Age: </label>
                                <input id="nu-age" th:field="*{age}" type="number" min="18" max="127" required/>
                            </fieldset>

                            <fieldset>
                                <label for="nu-email">Email: </label>
                                <input id="nu-email" th:field="*{email}" type="text"
                                       pattern="[a-z._-]+@[a-z]{1,}\.[a-z]{2,3}"
                                       required/>
                            </fieldset>

                            <input type="hidden" th:field="*{enabledByte}">

                            <fieldset class="bordered">
                                <legend>Privileges</legend>
                                <label for="user">User: </label>
                                <input id="user" th:name="authorities" type="radio"
                                       th:value="*{#strings.toString(authorities)}"
                                       checked/>
                                <label for="admin">User + Admin: </label>
                                <input id="admin" th:name="authorities" type="radio"
                                       th:value="${#strings.toString(adminRoleSet)}"/>
                            </fieldset>

                            <input class='main-button' type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
            <div id="user-tab" class="tab-pane container m-1">
                <h2>Your Details</h2>
                <ol th:object="${loggedUser}">
                    <li><span class="label">Username: </span><span th:text="*{username}"></span></li>
                    <li><span class="label">Name: </span><span th:text="*{name}"></span></li>
                    <li><span class="label">Lastname: </span><span th:text="*{lastName}"></span></li>
                    <li><span class="label">Department: </span><span th:text="*{department}"></span></li>
                    <li><span class="label">Salary: </span><span th:text="*{salary}"></span></li>
                    <li><span class="label">Age: </span><span th:text="*{age}"></span></li>
                    <li><span class="label">Email: </span><span th:text="*{email}"></span></li>
                    <li><span class="label">Role(s): </span>
                        <span th:each="role, iter : ${loggedUser.authorities}"
                              th:text="${role.authority == 'USER' ? 'U' : (role.authority == 'ADMIN' ? 'A' : '')} + ${iter.last ? '' : ' '}"></span>
                    </li>
                </ol>
                <a th:href="@{/user/update-info}">
                    <button class="btn btn-primary">Edit Info</button>
                </a>
                <a th:href="@{/user/update-password}">
                    <button class="btn btn-outline-primary">Change Password</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!--  ↓ загружено в "Семью"!  -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>